<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <!-- <pre>{{activities$ | async | json}}</pre> -->
    <ng-container *ngIf="activities$ | async; let actz">  
      <ng-container *ngFor="let activity of actz">
        <!-- <pre>{{activity | json}}</pre> -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{activity.name}}</ion-card-title>
            <ion-card-subtitle>{{activity.type}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Photos: {{activity.total_photo_count}}
            <ion-item *ngIf="activity.photo_url">
              <ion-avatar slot="start">
                <img [src]="activity.photo_url" />
              </ion-avatar>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>    
    <app-google-map></app-google-map>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
